<!DOCTYPE html>
<html>
<head>
  <title>Chat with socket.io and node.js</title>
  <style type="text/css">
    #chat {
      height: 500px;
    }
  </style>
</head>
<body>
  <div id='chat'> </div>
  <form id="send-message">
    <input size="35" id="message"> </input>
    <input type="submit" id="sendmessage"> </input>
  </form>


  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../../node_modules/socket.io-client/socket.io.js"></script>
  <script>

      // Basic Browser Chat


  </script>
</body>
</html>