<ion-view title="House Details" hide-nav-bar="true" id="page8" class=" pText inDivItem">
    <ion-content padding="true" style="background: url(img/weatherback.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h2 id="houseDetails-heading11" style="color:#FFFFFF;" class="PageTitle">House Details</h2>
        <a ui-sref="inside.editHouse" id="houseDetails-button10" style="text-align:right;" class=" button button-dark  icon ion-edit editHouseDetail btn" ng-click="gohouseedit()"></a>
        <!-- House Card  -->
        <div class="list card housediv selected" id="houseDetails-card238">
            <div class="list card lefthouse inDivItem" id="houseDetails-card236">
                <h3 id="houseDetails-heading12" style="color:#000000;" class=" homeHouseName subHeader inDivItem">{{houseit.house}}</h3>
                <div class="item item-body homeUser inDivItem" id="houseDetails-list-item-container28">
                    <ion-list id="houseDetails-list5" class=" ">
                        <ion-item id="houseDetails-list-item56" class="  homeUserName pText inDivItem">{{houseit.name}}</ion-item>
                        <ion-item id="houseDetails-list-item57" class="  homeUserName pText inDivItem">{{}}</ion-item>
                        <ion-item id="houseDetails-list-item58" class="  homeUserName pText inDivItem">{{}}</ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="list card manual-card-fullwidth righthouse inDivItem" id="houseDetails-card237">
                <h3 id="houseDetails-heading13" style="color:#000000;" class=" HomeHouseCountry subHeader Country">{{houseit.country}}</h3>
                <h2 id="houseDetails-markdown15" style="color:#000000;" class=" HomeHouseTemp">28°</h2>
                <div class="HomeHouseImg item item-image">
                    <img src="img/resourcesunny.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <p id="houseDetails-markdown16" style="color:#000000;" class=" HomeHouseWeather">SUNNY</p>
            </div>
        </div>
        <div class="list card windowDiv" id="houseDetails-card22">
            <div class="item item-body homeWindowsContainer inDivItem" id="houseDetails-list-item-container37">
                <div class="homeWindowImg inDivItem">
                    <img src="img/resourcesopenwindow.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <h2 id="houseDetails-heading19" style="color:#FFFFFF;" class=" homeWindowHead pText inDivItem">Master BedRoom</h2>
                <p id="houseDetails-markdown31" style="color:#FFFFFF;" class=" homeWindowStatus ptext inDivItem">Open</p>
            </div>
        </div>
    </ion-content>
</ion-view>