<ion-view title="Create account" hide-nav-bar="true" id="page5" class="loginPage">
    <ion-content class="loginContent" padding="false" style="background: url(../img/weatherback.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
      <h1 class="PageTitle"> User Registration </h1>
      <img class="mainLogo" src="https://s32.postimg.org/ccxveagyd/Resources_Main_Logo.png">
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email" ng-model="user.name">
        </label>
      </div>
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Password" ng-model="user.password">
        </label>
      </div>
    <button class="button loginElement" ng-click="signup()">
      New User Sign Up
    </button>
    </ion-content>
</ion-view>
