<ion-view title="Homepage" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="true" style="background: url(img/weatherback.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
       <a ui-sref="inside.editProfile" id="houseDetails-button10" style="text-align:right;" class=" button button-dark  icon ion-edit editHouseDetail btn" ng-click="gohouseedit()"></a>
        <h1 id="homepage-heading5" style="color:#FFFFFF;" class=" homePageUser Header">{{ user.user.name }}</h1>

        <h3 id="homepage-heading5" style="color:#FFFFFF;" class=" homePageUser Header">Houses</h3>
        <div class="list card" id="homepage-card225" ng-class="{'goodweather': house.skycode > 22, 'badweather': house.skycode <= 22 }">
            <div class="list card lefthouse inDivItem" id="homepage-card227">
                <h3 id="homepage-heading2" style="color:#424143;font-weight:300;" class=" homeHouseName subHeader inDivItem">{{house.name}}</h3>
                <div class="item item-body homeUserContainer inDivItem" id="homepage-list-item-container23">
                    <ion-list id="homepage-list4" class="userList" ng-repeat="user in userlist">
                        <ion-item id="homepage-list-item45" class="  homeUserName pText inDivItem">{{user}}</ion-item>
<!--                         <ion-item id="homepage-list-item46" class="  homeUserName pText inDivItem">{{house.users[1]}}</ion-item>
                        <ion-item id="homepage-list-item47" class="  homeUserName pText inDivItem">{{house.users[2]}}</ion-item> -->
                    </ion-list>
                </div>
            </div>
            <div class="list card righthouse inDivItem" id="homepage-card229">
                <h3 id="homepage-heading3" style="color:#424143;text-align:right;" class=" HomeHouseCountry subHeader Country">{{house.country}}</h3>
                <p id="homepage-markdown10" style="color:#424143;font-size:44px;text-align:right;" class=" HomeHouseTemp pText">{{house.temperature + "°"}} </p>
                <div class="HomeHouseImg item item-image">
                    <img src="{{house.img}}" width="100%" height="30%" style="display: block; margin-left: auto;">
                </div>
                <p id="homepage-markdown37" style="color:#424143;text-align:right;" class=" HomeHouseWeather">{{house.currentweather}}</p>
                <p class="invisibletext">{{house.skycode}}</p>
            </div>
            <a ui-sref="inside.details" id="homepage-button9" style="text-align:right;border-radius:0px 0px 0px 0px;" class=" button button-positive button-small icon ion-ios-redo-outline editHouseBtn inDivItem btn" ng-click="logout()"></a>
            <a id="homepage-button9" style="text-align:right;border-radius:0px 0px 0px 0px;" class=" button button-small icon ion-view editHouseBtn inDivItem btn" ng-click="gowindows()"></a>
        </div>
    </ion-content>
</ion-view>